<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="893" height="502" src="https://www.youtube.com/embed/{{course.videoId}}" title="Lời khuyên trước khóa học" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>